.git
.gitignore
.env
.env.*
node_modules
client/node_modules
server/node_modules
client/dist
server/dist
server/data
data
knowledge
npm-debug.log*
*.bak
Dockerfile
docker-compose*.yml
README.md
CHANGELOG.md
